.Login {
    text-align: center;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  .had {
    border: 2px outset #33C9DC;
    width: 99%;
    min-height: 730px;
    border-color: #33C9DC;
    border-radius: 15px;
    margin-right: 160px;
    margin-bottom: 1px;
    box-shadow: 4px 4px 5px #33C9DC inset;
  }
  
 
  
  
  
  .button {
    width: 80%;
    background-color: #33C9DC;
    border: 1px outset #33C9DC;
    height: 30px;
    cursor: pointer;
  
  }
  
  
  
  
  
  
  