.App {
    text-align: center;
  }
  
  .Order-header {
    background-color: #09294E;
    height: 110vh;
    width: 99%;
    
    margin-top: 10px;
   
  }
  
  .note {
  color:#ffff;
  font-size: 13px;
  margin-right: 180px;
  margin-top: 5px;
  
  }
  
  .icon {
  color: #ffff;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: -10px;
  font-size: 30px;
  }
  
  .order2 {
    border: 2px outset #33C9DC;
    width: 99%;
    height: 76%;
    border-color: #33C9DC;
    border-radius: 1px;
    margin-left: 2px;
    margin-top: 6px;
    margin-bottom: 10px;
    box-shadow: 4px 4px 10px #33C9DC inset;
  }
  
  
  
  
  .liked {
    border: 2px outset #33C9DC;
    width: 48%;
    height: 7%;
    border-color: #33C9DC;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-left: 10px;
    margin-top: 18px;
    
    box-shadow: 4px 4px 10px #33C9DC inset;
  }
  
  
  .order {
    color: #ffff;
    margin-left: 9px;
    
  }
  
  .order1{
    color: #ffff;
  margin-left: 130px;
  margin-top: -40px;
  
  }
  .icon1 {
    color: #ffff;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -10px;
    margin-left: -240px;
    font-size: 10px;
    text-align: center;
    }
  
    
    .icon2 {
      color: #ffff;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -10px;
    margin-left: -8px;
    font-size: 10px;
    text-align: center;
    }
  
    .icon3{
      color: #ffff;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -10px;
    margin-left: 220px;
    font-size: 10px;
    text-align: center;
    }
    .grid-container {
      display: grid;
      
      column-gap: 20px;
      row-gap: 20px;
    margin-top: 20%;
      grid-template-columns: 1, 1, 1;
    
  
    
      padding: 10px;
    }
  
    .order5 {
      border: 2px outset #33C9DC;
      width: 99%;
      height: 10vh;
      border-color: #33C9DC;
    
      box-shadow: 4px 4px 10px #33C9DC inset;
      
      margin-top: 35px;
      border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
      

      
    }