.App {
    text-align: center;
  }
  
  
    .Profile-header {
      background-color: #09294E;
      height: 300vh;
      width: 99%;
      margin-left: 10px;
      margin-top: 10px;
  }
  
  .note {
    color:#ffff;
    font-size: 13px;
    margin-right: 180px;
    margin-top: 5px;
    
  }
  
  .icon {
    color: #ffff;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -10px;
    font-size: 30px;
  }
  
  
  .profile2 {
    border: 2px outset #33C9DC;
    width: 98%;
    height: 70%;
    border-color: #33C9DC;
    border-radius: 2px;
    margin-right: 10%;

    margin-top: 6px;
    margin-bottom: 10px;
    box-shadow: 4px 4px 10px #33C9DC inset;
  }
  
  .flex-profile {
    display: flex;
    flex-direction: row;
    
  }
  
  .flex-profile > div {
    border: 1px outset #ffff;
    width: 27%;
    height: 65px;
    margin-left: 20px;
    border-radius: 10px;
    margin-bottom: 20px ;
    background-color: #ffff;
    
  }
  
  /* .head5 {
    border: 2px outset #33C9DC;
  width: 99%;
  min-height: 12vh;
  border-color: #33C9DC;

  box-shadow: 4px 4px 10px #33C9DC inset;
  
  margin-top: 10%;
  border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  } */
  
  